[submodule "Code_2_SP18"]
	path = Code_2_SP18
	url = https://github.com/whoisbma/Code_2_SP18.git
[submodule "raw-webgl-test"]
	path = raw-webgl-test
	url = https://github.com/whoisbma/raw-webgl-test
[submodule "ggj19"]
	path = ggj19
	url = https://github.com/whoisbma/ggj19.git
